.root {
    --main-color: #006ef7;
    --secondary-color: #0259c9;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.header {
    background-image: linear-gradient(to right, #006ef7, #0259c9);
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10%;
    width: 80%;
}

/* Small Screen */

@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}

/* Medium Screen */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screen */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* Start Header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo img {
    width: 120px;
    padding: 10px;
}

.header .links {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: white;
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    height: 3px;
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    height: 3px;
    width: 65%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    height: 3px;
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: (100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    height: 20px;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) {
    border-bottom: 1px solid #DDD;
}

.aboutme{
    background-image: linear-gradient(to right, #006ef7, #0259c9);
}

.aboutme .container {

    padding: 30px;
    display: grid;
    justify-content: center;
}



.aboutme .container .image {
    overflow: hidden;
    border-radius: 100%;
    border-color: transparent;
    background-color: white;
    width: 150px;
    height: 150px;
    margin-left: 110px;
    box-shadow: #333;
}

@media (min-width: 767px) {
    .aboutme .container .image {
        margin-left: 45px;
    }
}

@media (max-width: 993px) {
    .aboutme .container .image {
        margin-left: 50px;
    }


}

@media (max-width: 1200px) {
    .aboutme .container .image {
        margin-left: 47px;
    }


}

.aboutme .container .image img {
    width: 100%;
}

.aboutme .container h2 {
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.aboutme .container p {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

.aboutme .container .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aboutme .container .contact a img {
    width: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.aboutme .container .contact a:last-of-type {
    font-size: 15px;
    display: inline-block;
    padding-top: 30px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
    transition: 3s;
    transition-property: all;
    margin-bottom: 0;
}

.aboutme .container .contact a:last-of-type:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.gallery{
    width: 80%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    justify-content: center;
}
.myh1{
    width: 80%;
    margin-left: 10%;
}
.myh1 h1 {
    background-color: #006ef7;
    text-align: center;
    color: white;
}
@media (max-width: 1200px) {
   
    .myh1 h1 {
        font-size: 25px;
    }
}
.gallery div{
    width: 1fr;
    height: cover;
}
.gallery div img{
    width: 100%;
}
@media (max-width: 768px) {
    .gallery{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 992px) {
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }


}
@media (min-width: 1200px) {
    .gallery{
        grid-template-columns: repeat(3,1fr);
    }


}
.services{
    width: 80%;
    margin: auto;
    direction: rtl;
}
.services h1 {
    background-color: #006ef7;
    text-align: center;
    color: white;
}
.services div{
  display: flex;
  flex-direction: co;

}
.services .firstservices{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #3d3d3d;
    padding-right: 50px;
    line-height: 30px;
}



.services .overservices{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.services .overservices th{
    background-color: #006ef7;
    color: white;
    font-size: 25px;
}

@media (max-width: 1200px) {
    .services .firstservices{
        grid-template-columns: repeat(1, 1fr);
    }
    .services .overservices th{
        font-weight: 12px;
    }
    .services .overservices{
        font-size: 14px;
    }
    .services h1 {
        font-size: 25px;
    }
}
/* Start Footer */
.footer{
    background-image:linear-gradient(to right, #006ef7, #0259c9);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;

}
.footer span{
    font-weight: bold;
    color: white;
}
/* End Footer */
